html {
  height: 100vh;
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-color: #040404;
  scroll-behavior: smooth;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #96cf24;
  
}
section {
  height: 100vh;
  background-color: red;
}
.hero-section {
  position: relative;
}
canvas {
  height: 100vh;
  width: 10%;
  margin: 0;
  padding: 0;
  touch-action: none;
  position: relative;

}
iframe {
  position: relative;
  z-index: 2;
}
@media screen and (max-width:950px){
canvas{
  height: 60vh;
  touch-action: none;
}
}


.htmlScreen iframe {
width: 1024px;
height: 670px;
border: none;
border-radius: 1px;
background-color: black;
color: rgb(173, 18, 18);
}