html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #6b6969;
  
}
canvas {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  touch-action: none;

}
iframe {
  position: relative;
  z-index: 2;
}
@media screen and (max-width:950px){
canvas{
  height: 60vh;
  touch-action: none;
}
}


.htmlScreen iframe {
width: 1024px;
height: 670px;
border: none;
border-radius: 1px;
background-color: black;
color: rgb(173, 18, 18);
}